---
layout: default
title: Contact
permalink: /contact/
order: 3
---

<section class="contact">
  <div class="content"> 
    <div class="photo">
      <img src="/img/contact.png" alt="Contact with Filiz Altıntürk">
    </div>
    <article>
      <h1>CONTACT</h1>
      <p class="text">
        Let's keep in touch! If you would like to collaborate or just say "hello", you can reach me at
        <a href="#" class="social email">
          info@filizaltinturk.com
        </a>
        <br>
        <br>
        For more about me, I'm also on <a href="https://www.linkedin.com/in/filizaltinturk" target="_blank" class="social linkedin">{% include social/linkedin-alt.svg %}LinkedIn</a> <a href="https://twitter.com/Filiz_Altinturk" target="_blank" class="social twitter">{% include social/twitter.svg %}Twitter</a> <a href="http://codepen.io/filiz137" target="_blank" class="social codepen">{% include social/codepen.svg %}Codepen</a>
      </p>
    </article>
  </div>
</section>


{% comment %}
<nav class="sharing">
  {% for item in site.share %}
    <a href="{{ item.url }}{{ item.text | uri_escape }}" target="_blank" class="share {{ item.class }}">
      {% include {{ item.class | prepend: 'social/' | append: '.svg' }} %}
    </a>
  {% endfor %}
</nav>
{% endcomment %}
