section {
	&.about {
		background-color: $aboutColor;
		overflow: hidden;
		overflow-y: auto;
		div {
			max-width: 800px;
			@include mobile-only {
				align-items: flex-start;
				justify-content: flex-start;
			}
			div {
				position: relative;
				display: flex;
				flex-basis: 400px;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 20px;
				font-family: $baseff;
				h1 {
					margin: 0;
					padding: 0;
					width: 100%;
					color: rgba(#000, .6);
					font-family: $baseff;
					@include font-size(60px, 68px);
					text-align: left;
					@include mobile-only {
						@include font-size(20px, 28px);
					}
				}
				p {
					font-family: Arial;
					@include font-size(14px, 20px);
					color: darken($aboutColor, 40%);
					columns: 2 360px;
					column-gap: 40px;
					column-rule: 2px solid darken($aboutColor, 40%);
					text-align: left;
					@include tablet-only {
						columns: 2 38vw;
					}
					@include mobile-only {
						columns: 1 100vw;
					}
				}
			}
		}
	}
}
