section {
	&.contact {
		// background-color: $contactColor;
		.content {
			max-width: 100%;
			article{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				padding: 20px;
				height: 100%;
				@include desktop-and-up {
					flex: 1 1 100%;
				}
				@include tablet-only {
					width: calc(50vw - 40px);
				}
				@include mobile-only {
					width: 60vw;
					padding: 5px;
				}
				h1 {
					margin: 0;
					padding: 0;
					color: $contactColor;
					font-family: $baseff;
					@include font-size(60px, 68px);
					@include tablet-only {
						@include font-size(40px, 48px);
					}
					@include mobile-only {
						@include font-size(24px, 30px);
					}
				}
				p {
					margin: 0;
					padding: 0;
					max-width: 620px;
					color: rgba(#000, .8);
					font-family: $baseff;
					@include font-size(14px, 20px);
					@include mobile-only {
						width: 100%;
						@include font-size(12px, 16px);
					}
					a {
						margin: 0;
						padding: 0;
						@include mobile-only {
							display: block;
							line-height: 18px;
						}
						&.social {
							color: $headerColor;
							fill: currentColor;
							&:not(.codepen):not(.email):after {
								content: ",";
							}
							&.codepen:after {
								content: ".";
							}

							svg {
								width: 14px;
								height: auto;
								@include mobile-only {
									height: 14px;
								}
							}
							&.twitter svg {
								fill: $twitter;
								&:hover {
									fill: $twitter;
								}
							}
							&.linkedin svg {
								fill: $linkedin;
								&:hover {
									fill: $linkedin;
								}
							}
							&.email svg {
								fill: $email;
								&:hover {
									fill: $email;
								}
							}
							&.codepen {
								fill: $codepen;
								&:hover {
									fill: $codepen;
								}
							}
						}
					}
				}
			}
			.photo {
				position: relative;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				padding: 0;
				margin-right: 20px;
				height: 100%;
				background: url('/img/whitewall.jpg') center center;
				background-size: cover;
				@include desktop-and-up {
					flex: 1 1 100%;
				}
				@include tablet-only {
					width: calc(50vw - 40px);
				}
				@include mobile-only {
					width: 40vw;
					padding: 5px;
				}
				img {
					height: 80vh;
					@include tablet-only {
						align-self: flex-end;
					}
					@include mobile-only {
						align-self: flex-end;
					}
				}
			}
		}
	}
}
