<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  <main>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}

    <cite class="copy">
      &copy; 2019
    </cite>
  </main>
  <script>
    if ("serviceWorker" in navigator) {
        if (navigator.serviceWorker.controller) {
          console.log("Hey active service worker found, no need to register")
        } else {
          navigator.serviceWorker.register("sw.js", {
            scope: "./"
          }).then(function (reg) {
            console.log("Service worker has been registered for scope: " + reg.scope);
          }).catch(function (err) {
            console.log(err);
          });
        }
      }
  </script>
</body>

</html>